body, html {
  margin: 0;
}

#course {
  background-color: lavender;
}

#grades {
  background-color: lavender;
}

#grades span {
  font-weight: bold;
  color: darkblue;
}

#grades h2 span { 
  font-weight: bold; 
  color: red;
}

tr {
  color: black;
}
